@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.loading {
  position: fixed;
  width: 0;
  height: 0;
  z-index: 100;
  top: 0;
  opacity: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #eaeaea;
  animation: loading-opacity;
}

.load-animation {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0.4em solid whitesmoke;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-right-color: #99E2D0;
  border-left-color: #e9ddf8;
  animation: loading-screen 1000ms 4 linear;
}

@keyframes menu-reveal {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes loading-screen {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(2turn);
  }
}
@keyframes loading-opacity {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes hidden {
  0% {
    opacity: 0.9;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
}
.hidden {
  -webkit-animation: hidden 2s;
  animation: hidden 2s;
  -moz-animation: hidden 2s;
  -o-animation: hidden 2s;
}

* {
  font-family: roboto;
}

h2 {
  padding: 20px;
  margin: 0px;
}

h3 {
  font-weight: 600;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
  margin: 0;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 5px 10px 16px -5px rgba(0, 0, 0, 0.3);
}
header img {
  height: 30px;
  width: auto;
}
header .fa-arrow-left {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 1.5em;
}
header .fa-arrow-left:hover {
  color: #9356DC;
}

#explore {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  text-align: center;
  background: #f6f6f6;
}
#explore p {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  height: 50px;
  width: 230px;
  color: white;
  border-width: 0px;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
}
.btn-gradient:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  transform: scale(1.05);
}

.city {
  background: #eaeaea;
  width: 100%;
  box-shadow: inset 0px 11px 8px -9px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
}
.city i {
  margin-top: auto;
  margin-bottom: auto;
}

#functioning {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}

.box-steps {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.step {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 350px;
}
.step h3 {
  margin-right: 20px;
}
.step__circle-number {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  text-align: center;
  color: white;
  background: #9356DC;
  position: relative;
  left: 10px;
}
.step__btn-function {
  display: flex;
  align-items: center;
  padding-left: 30px;
  background: #f6f6f6;
  width: 100%;
  max-width: 350px;
  border-radius: 20px;
  box-shadow: 5px 10px 16px -5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.step__btn-function i {
  margin-right: 1em;
  color: #a9a9a9;
}
.step__btn-function:hover {
  background: #e9ddf8;
}
.step__btn-function:hover .fas {
  color: #9356DC;
}

#restaurants {
  width: 100%;
  height: auto;
  background: #eaeaea;
  padding-bottom: 40px;
}
#restaurants h3 {
  margin: 0px;
}

.new {
  width: 20%;
  min-width: 100px;
  height: 15%;
  background: #99E2D0;
  color: darkgreen;
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.new p {
  font-weight: 500;
}

.card-restaurant {
  width: calc(100% - 40px);
  max-width: 500px;
  height: auto;
  margin: 20px;
  border-radius: 20px;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.card-restaurant img {
  height: 150px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.card-restaurant:hover {
  background: #e9ddf8;
  transform: scale(1.05);
  transition: transform 200ms;
}
.card-restaurant__info {
  border-radius: 0px 0px 20px 20px;
  width: calc(100% - 40px);
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.card-restaurant__info__txt {
  display: flex;
  flex-direction: column;
}

.checkbox-heart {
  position: absolute;
  right: 45px;
  bottom: 30px;
}

.fa-heart {
  display: flex;
  align-items: baseline;
  font-size: 1.5em;
  cursor: pointer;
}

.checkbox-heart input[type=checkbox], .checkbox-heart .check {
  display: none;
}

.checkbox-heart input[type=checkbox]:checked ~ .check {
  display: inline-block;
}

.checkbox-heart input[type=checkbox]:checked ~ .uncheck {
  display: none;
}

.uncheck {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.check {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0px;
}

footer {
  width: calc(100% - 40px);
  height: auto;
  background-color: #353535;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
footer h2 {
  font-family: "shrikhand";
  color: white;
  font-weight: 300;
  padding-left: 0px;
}
footer h3 {
  margin: 5px;
}
footer i {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1em;
  height: 1em;
  width: 1em;
}
footer a {
  display: flex;
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: #FF79DA;
}
footer address {
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  font-style: normal;
}

#intro-restaurant {
  width: 100%;
  height: 500px;
  position: relative;
}
#intro-restaurant img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.title-restaurant {
  display: flex;
  height: auto;
  width: calc(100% - 40px);
  border-radius: 60px 60px 0px 0px;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 0px;
  background: #f6f6f6;
  position: absolute;
  bottom: 0px;
}
.title-restaurant h2 {
  font-family: shrikhand;
  padding-top: 0px;
}

.checkbox-heart {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

#menu {
  width: calc(100% - 40px);
  height: auto;
  padding: 20px;
  padding-top: 0px;
  background: #f6f6f6;
}

.box-dish {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}
.box-dish a {
  width: 100%;
  max-width: 425px;
  animation: menu-reveal 1000ms ease-in-out;
  animation-fill-mode: both;
}
.box-dish a:nth-child(1) {
  animation-delay: 333.3333333333ms;
}
.box-dish a:hover .menu-check {
  width: 50px;
  transition: width 400ms ease-in-out;
}
.box-dish a:hover .menu-check i {
  transform: rotate(360deg);
  transition: transform 400ms ease-in-out;
}
.box-dish a:not(:hover) .menu-check {
  width: 0px;
  transition: width 400ms ease-in-out;
}
.box-dish a:nth-child(2) {
  animation-delay: 666.6666666667ms;
}
.box-dish a:hover .menu-check {
  width: 50px;
  transition: width 400ms ease-in-out;
}
.box-dish a:hover .menu-check i {
  transform: rotate(360deg);
  transition: transform 400ms ease-in-out;
}
.box-dish a:not(:hover) .menu-check {
  width: 0px;
  transition: width 400ms ease-in-out;
}
.box-dish a:nth-child(3) {
  animation-delay: 1000ms;
}
.box-dish a:hover .menu-check {
  width: 50px;
  transition: width 400ms ease-in-out;
}
.box-dish a:hover .menu-check i {
  transform: rotate(360deg);
  transition: transform 400ms ease-in-out;
}
.box-dish a:not(:hover) .menu-check {
  width: 0px;
  transition: width 400ms ease-in-out;
}

.menu-prev {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: calc(100% - 40px);
  max-width: 400px;
  padding: 20px;
}
.menu-prev__title {
  border-bottom: 2px solid #99E2D0;
  width: 50px;
  height: 30px;
}
.menu-prev__title h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 400;
  padding: 0px;
}
.menu-prev__card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background: white;
  box-shadow: 5px 10px 16px -5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.menu-check {
  background: #99E2D0;
  width: 0px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: right;
  overflow: hidden;
}

.menu-card {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 10px;
  overflow: hidden;
}
.menu-card h3 {
  margin: 0px;
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card p {
  font-size: 0.8em;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card__price {
  display: flex;
  align-items: flex-end;
}
.menu-card__dish {
  overflow: hidden;
}

.fa-check {
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #99E2D0;
}
.fa-check i {
  transform: rotate(0deg);
}

@media screen and (min-width: 545px) {
  .title {
    display: flex;
    justify-content: center;
  }

  .box-steps {
    align-items: center;
  }

  .step {
    width: 350px;
  }

  #box-restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .box-steps {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  #box-restaurants {
    flex-direction: row;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    max-width: 1100px;
  }
}

/*# sourceMappingURL=style.css.map */
