

// animation loading screen

.loading {
    position: fixed;
    width: 0;
    height: 0;
    z-index:100;
    top: 0;
    opacity: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $color-dark-grey;
    animation: loading-opacity;
}

.load-animation {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0.40em solid whitesmoke;
    border-top-color: $color-primary;
    border-bottom-color: $color-secondary;
    border-right-color: $color-tertiary;
    border-left-color: $color-primary-light;
    animation: loading-screen 1000ms 4 linear;    
}







// animation

@keyframes menu-reveal {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes loading-screen {
    0% {
        transform: rotate(0turn);

    }


    100% {
        transform: rotate(2turn);

    }
}

@keyframes loading-opacity {
    0% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes hidden {
    0% {
        opacity: 0.9;
        width: 100%;
        height: 100%;
        z-index: 100;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
}

.hidden {
    -webkit-animation: hidden 2s;
    animation: hidden 2s;
    -moz-animation: hidden 2s;
    -o-animation: hidden 2s;
}