$color-primary:#9356DC;
$color-primary-light:#e9ddf8;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-grey:#f6f6f6;
$color-dark-grey:#eaeaea;

$num-cards : 3 ;
$anim-dur: 1000ms;
$anim-delay: calc($anim-dur / $num-cards);